<div id="fakeBody">
    

    <div>
        <h1>INDEX FILE</h1>
    </div>


    <h1>{{key}}</h1>

    
    <form id="burgerForm">

        <input placeholder="rev up them fryers" id="enterBurger" type="text" />
        <button id="submitPost" type="submit">Create Burger</button>

    </form>
</div>



<script>
    document.getElementById("burgerForm").addEventListener("submit", function (event) {
        event.preventDefault();
        console.log("this happened");
        const pasteBurger = document.getElementById("enterBurger").value;
        console.log(pasteBurger);

        if (pasteBurger === "") {
            return
        } else {
            makeBurger(pasteBurger)
        }

        //grab the route to post
        //input the info that I want to post
        //create that new burger
        //Display it on the homepage, which is "/"
        //refresh the hompage


    })

    function makeBurger(burgerInfo) {
        console.log(burgerInfo);
        fetch("/api/burgers", {
            method: "POST",
            body: JSON.stringify({
                burgerName: burgerInfo,
                devoured: false
            }),
            headers: {
                "Content-Type": "application/json"
            }
        }).then(function (response) {
            return response.json();
        }).then(function (responseJson) {
            console.log(responseJson);
            const newestBurger = responseJson.burgerName
            const newDiv = document.createElement("div")

            newDiv.innerHTML = newestBurger
            document.getElementById("fakeBody").append(newDiv)
        }).catch(function (err) {
            if (err) {
                console.log(err)
            }
        })
    }
</script>